* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #29303b;
  background-color: #fff;
  line-height: 1.43;
}

.ude-btnWhite {
  background-color: #fff;
  color: #686f7a;
  border: 1px solid #505763;
  font-weight: 600;
  padding: 11px 12px;
  border-radius: 2px;
}

.ude-btnWhite:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

.ude-btnRed {
  background-color: #ec5252;
  color: #fff;
  border: 1px solid #ec5252;
  font-weight: 600;
  padding: 11px 12px;
  border-radius: 2px;
}

.ude-btnRed:hover {
  background-color: #521822;
}

header {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

header .icons i:first-child {
  margin-right: 10px;
}

header .headerLeft {
  display: flex;
  align-items: center;
}

header .headerLeft .navbar-brand {
  flex-grow: 1;
}

header .headerLeft .navbar-brand img {
  width: 110px;
}

header .headerLeft .categories {
  cursor: pointer;
  flex-grow: 1;
}

header .headerLeft .categories i {
  opacity: 0.6;
}

header .headerLeft .headerForm {
  flex-grow: 6;
  align-self: center;
  border: none;
}

header .headerLeft .headerForm .form-control {
  background-color: rgba(20, 23, 28, 0.05);
  color: black;
  transition: none;
  border: none;
}

header .headerLeft .headerForm .form-control:focus {
  background-color: white;
  box-shadow: none;
  border-top: 1px solid #cacbcc;
  border-bottom: 1px solid #cacbcc;
  border-left: 1px solid #cacbcc;
}

header .headerLeft .headerForm .form-control:focus + .input-group-append .input-group-text {
  background-color: white;
  border-top: 1px solid #cacbcc;
  border-bottom: 1px solid #cacbcc;
  border-right: 1px solid #cacbcc;
}

header .headerLeft .headerForm .form-control:focus + .input-group-append .input-group-text:hover {
  background-color: #ec5252;
  color: white;
}

header .headerLeft .headerForm .input-group-text {
  background-color: rgba(20, 23, 28, 0.05);
  cursor: pointer;
  color: #ec5252;
  border: none;
  box-shadow: none;
}

header .headerLeft .headerForm .input-group-text:hover {
  background-color: #ec5252;
  color: white;
}

header .headerRight .navbar-nav {
  width: 100%;
  justify-content: space-between;
}

header .headerRight .navbar-nav .nav-item {
  align-self: center;
}

header .headerRight .navbar-nav .nav-item .nav-link {
  color: #505763;
  font-size: 13px;
  font-weight: normal;
}

header .headerRight .navbar-nav .nav-item:hover {
  background-color: rgba(20, 23, 28, 0.05);
}

header .headerRight .navbar-nav .nav-item:nth-child(3) {
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;
}

header .headerRight .navbar-nav .Ude-btnGroup {
  white-space: nowrap;
}

@media screen and (max-width: 1200px) {
  header .headerRight .bussiness,
  header .headerRight .teach {
    display: none;
  }
  header .headerRight .navbar-nav {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 992px) {
  header .headerRight .bussiness,
  header .headerRight .teach {
    display: none;
  }
}

@media screen and (max-width: 948px) {
  header .headerRight .navbar-nav .bussiness,
  header .headerRight .navbar-nav .teach {
    display: none;
  }
  header .headerRight .navbar-nav .nav-item:nth-child(3) {
    padding: 0;
  }
  header .headerRight .navbar-nav .ude-btnWhite, header .headerRight .navbar-nav .ude-btnRed {
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  header .headerLeft .categories,
  header .headerLeft .headerForm {
    display: none;
  }
  header .headerRight .ude-btnGroup {
    display: none;
  }
}

.udemyCarousel {
  background-image: url(../Img/cover.jpg);
  height: 550px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.udemyCarousel .udeCarouselContent {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 40%;
  line-height: 30px;
}

.udemyCarousel .udeCarouselContent h1 {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.udemyCarousel .udeCarouselContent p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.udemyCarousel .udeCarouselContent input::placeholder {
  font-size: 18px;
}

.udemyCarousel .udeCarouselContent .input-group {
  flex-grow: 6;
  align-self: center;
  border: none;
}

.udemyCarousel .udeCarouselContent .input-group .form-control {
  background-color: #fff;
  color: black;
  transition: none;
  border: none;
  padding: 25px;
}

.udemyCarousel .udeCarouselContent .input-group .form-control:focus {
  box-shadow: none;
}

.udemyCarousel .udeCarouselContent .input-group .input-group-text {
  background-color: #fff;
  cursor: pointer;
  color: #ec5252;
  border: none;
  box-shadow: none;
  padding-left: 18px;
  padding-right: 18px;
}

.udemyCarousel .udeCarouselContent .input-group .input-group-text:hover {
  background-color: #ec5252;
  color: white;
}

@media screen and (max-width: 1200px) {
  .udemyCarousel .udeCarouselContent {
    width: 40%;
  }
}

@media screen and (max-width: 992px) {
  .udemyCarousel .udeCarouselContent {
    width: 50%;
  }
}

@media screen and (max-width: 948px) {
  .udemyCarousel .udeCarouselContent {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .udemyCarousel .udeCarouselContent {
    width: 80%;
  }
}

footer .footer_content .row:nth-child(1) {
  border-bottom: 1px solid #c4c0c0;
}

footer .footer_content .row:nth-child(1) .col:nth-child(1),
footer .footer_content .row:nth-child(1) .col:nth-child(2),
footer .footer_content .row:nth-child(1) .col:nth-child(3) {
  margin-top: 40px;
}

footer .footer_content .row:nth-child(1) .col:nth-child(1) p,
footer .footer_content .row:nth-child(1) .col:nth-child(2) p,
footer .footer_content .row:nth-child(1) .col:nth-child(3) p {
  line-height: 10px;
}

footer .footer_content .row:nth-child(1) .col:nth-child(1) p a,
footer .footer_content .row:nth-child(1) .col:nth-child(2) p a,
footer .footer_content .row:nth-child(1) .col:nth-child(3) p a {
  text-decoration: none;
  color: #007791;
  font-size: 13px;
  font-weight: normal;
}

footer .footer_content .row:nth-child(1) .col:nth-child(1) .bold a,
footer .footer_content .row:nth-child(1) .col:nth-child(2) .bold a,
footer .footer_content .row:nth-child(1) .col:nth-child(3) .bold a {
  color: #007791;
  font-size: 13px;
  font-weight: 600;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) button.btn.btn-secondary.dropdown-toggle {
  margin-top: 50%;
  margin-left: 90%;
  transform: translateX(90%);
  background-color: white;
  color: #726d6d;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) button.btn.btn-secondary.dropdown-toggle i {
  font-size: 15px;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) button.btn.btn-secondary.dropdown-toggle:hover {
  color: black;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) .dropdown-menu {
  width: 50px;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) .dropdown-menu p {
  line-height: 30px;
  margin: 0;
  padding-left: 15px;
  cursor: pointer;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) .dropdown-menu p:hover {
  background: #c7c3c3;
}

footer .footer_content .row:nth-child(2) {
  display: flex;
  justify-content: space-between;
  border-bottom: 8px solid #ec5252;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(1) span {
  font-size: 13px;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(1) img {
  width: 150px;
  cursor: pointer;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(2) {
  position: relative;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(2) span {
  position: absolute;
  top: 45%;
  right: 10%;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(2) span a {
  text-decoration: none;
  font-size: 13px;
}

.intro {
  background: linear-gradient(to right, #521822, #ec5252);
}

.intro .introContent {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.intro .introContent .introIcon .icon {
  color: #fff;
  font-size: 50px;
  font-weight: normal;
}

.intro .introContent .itemText {
  padding-left: 10px;
}

.intro .introContent .itemText .p1 {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0;
}

.intro .introContent .itemText .p2 {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .intro .introItem .introIcon {
    display: none;
  }
  .intro .introItem .itemText {
    text-align: center;
  }
}

@media screen and (max-width: 948px) {
  .intro .col-md-4 {
    padding: 0;
  }
  .intro .col-md-4 .introContent {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .intro .introIcon {
    display: none;
  }
  .intro .itemText {
    display: none;
  }
}

.courses {
  margin-top: 25px;
}

.courses .courses_content {
  width: 90%;
  margin: auto;
}

.courses .courses_content .courses_left .courses_intro {
  background-color: #dedfe0;
  padding: 40% 30px 80px 30px;
  height: 100%;
}

.courses .courses_content .courses_left .courses_intro h2 {
  color: #29303b;
  font-size: 18px;
  font-weight: bold;
}

.myTab .nav.nav-tabs {
  width: 100%;
  border-bottom: none;
  justify-content: space-between;
}

.myTab .nav.nav-tabs .nav-item:hover .nav-link {
  border: none;
}

.myTab .nav.nav-tabs .nav-item .nav-link.active {
  border: none;
  border-bottom: 5px solid #007791;
}

.myTab .nav.nav-tabs .nav-item .nav-link {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
  border: none;
}

.myTab .tab-content-courses {
  position: relative;
  margin-top: 25px;
}

.myTab .tab-content-courses .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

.myTab .tab-content-courses .card-text {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.myTab .tab-content-courses .rating .rating_star {
  color: #F4C150;
  font-size: 13px;
  font-weight: normal;
}

.myTab .tab-content-courses .rating .rating_star i {
  margin: 1px;
}

.myTab .tab-content-courses .rating span.num {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.myTab .tab-content-courses .price {
  text-align: right;
}

.myTab .tab-content-courses .price .old_price {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}

.myTab .tab-content-courses .price .new_price {
  color: #29303b;
  font-size: 20px;
  font-weight: bold;
}

.nav-link {
  display: block;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

@media screen and (width: 992px) {
  .col-lg-8 {
    max-width: none;
  }
}

@media screen and (min-width: 993px) and (max-width: 1063px) {
  .myTab .nav.nav-tabs .nav-item .nav-link {
    font-size: 13px;
  }
}

@media screen and (max-width: 992px) {
  .courses_content .col-lg-4 {
    display: none;
  }
}

@media screen and (max-width: 948px) {
  .courses_content .col-lg-4 {
    display: none;
  }
}

.owl-prev {
  position: absolute;
  top: 34%;
  left: -4%;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  background-color: #fff !important;
  box-shadow: 0 2px 8px 2px gray;
}

.owl-prev span {
  color: #007791;
  font-size: 42px;
  font-weight: normal;
  line-height: 0.7;
}

.owl-prev:hover {
  box-shadow: 0px 4px 10px 4px gray;
}

.owl-prev:focus {
  outline: none;
}

.owl-next {
  position: absolute;
  top: 34%;
  right: -4%;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  background-color: #fff !important;
  box-shadow: 0 2px 8px 2px gray;
}

.owl-next span {
  color: #007791;
  font-size: 42px;
  font-weight: normal;
  line-height: 0.7;
}

.owl-next:hover {
  box-shadow: 0px 4px 10px 4px gray;
}

.owl-next:focus {
  outline: none;
}

.services {
  margin-top: 25px;
  width: 100%;
  background-color: #dedfe0;
}

.services .services_content {
  width: 90%;
  margin: auto;
}

.services .services_content .services_item {
  background-color: #fff;
}

.services .services_content .services_item .icon {
  position: relative;
}

.services .services_content .services_item .icon .ishadow:before {
  padding-right: 15px;
  font-size: 50px;
  color: #007791;
  opacity: 0.5;
}

.services .services_content .services_item .icon .imain:before {
  font-size: 50px;
  position: absolute;
  top: -4%;
  left: -3%;
  color: #29303b;
}

.services .services_content .services_item .text h2 {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

.services .services_content .services_item .text p {
  color: #29303b;
  font-size: 15px;
  font-weight: normal;
}

@media screen and (max-width: 992px) {
  .services .services_content .services_item .icon {
    position: relative;
  }
  .services .services_content .services_item .icon .imain:before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .services .services_content .services_item .icon .ishadow:before {
    position: absolute;
    top: 5%;
    left: 40%;
  }
  .services .services_content .services_item .text {
    margin-top: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .services .services_content .services_item_medium {
    display: none;
  }
  .services .services_content .services_item:first-child {
    margin-right: 20px;
  }
}

.students .tab-content-student {
  position: relative;
  margin-top: 25px;
}

.students .tab-content-student .card .card-title {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
}

.students .tab-content-student .card .card-text {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
}

.students .tab-content-student .card .rating .rating_star {
  color: #F4C150;
  font-size: 13px;
  font-weight: normal;
}

.students .tab-content-student .card .rating .rating_star i {
  margin: 0;
}

.students .tab-content-student .card .rating span.num {
  color: #29303b;
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
}

.students .tab-content-student .card .price {
  text-align: right;
}

.students .tab-content-student .card .price .old_price {
  color: #686f7a;
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through;
}

.students .tab-content-student .card .price .new_price {
  color: #29303b;
  font-size: 20px;
  font-weight: bold;
}

.banner {
  background-color: #29303b;
  width: 100%;
  height: auto;
}

.banner .banner_top_border {
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #521822, #ec5252);
}

.banner .banner_content .row {
  width: 90%;
  margin: auto;
}

.banner .banner_content .row .col {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.banner .banner_content .row .col i {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.banner .banner_content .row .col .text {
  text-align: center;
}

.banner .banner_content .row .col .text h2 {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
}

.banner .banner_content .row .col .text p {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}

.banner .banner_content .row .col .text .ude-btnRed:hover {
  border-color: #521822;
}

.banner .banner_content .row .col .fa-truck:before {
  position: absolute;
  top: 45%;
  right: 10%;
}

.banner .banner_content .row .col .fa-truck-monster:before {
  position: absolute;
  top: 45%;
  left: 10%;
}

@media screen and (max-width: 992px) {
  .banner .banner_content {
    height: 300px;
    align-items: center;
  }
  .banner .banner_content .row:nth-child(1),
  .banner .banner_content .row:nth-child(3) {
    display: none;
  }
  .banner .banner_content .row:nth-child(2) {
    position: relative;
  }
  .banner .banner_content .row:nth-child(2) .col:nth-child(1),
  .banner .banner_content .row:nth-child(2) .col:nth-child(3) {
    display: none;
  }
  .banner .banner_content .row:nth-child(2) .text {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.feedback {
  background: #dbd9d9;
}

.feedback .tab-content-feedback .tab_item .card .pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.feedback .tab-content-feedback .tab_item .card .pic1 {
  background: url(../../Img/people1.jpg) 60% 40% no-repeat;
}

.feedback .tab-content-feedback .tab_item .card .pic2 {
  background: url(../../Img/people2.jpeg) 45% 40% no-repeat;
}

.feedback .tab-content-feedback .tab_item .card .pic3 {
  background: url(../../Img/people3.jpg) 50% 40% no-repeat;
}

.feedback .tab-content-feedback .tab_item .card .pic4 {
  background: url(../../Img/people4.jpeg) 50% 40% no-repeat;
}

.feedback .tab-content-feedback .tab_item .card .pic5 {
  background: url(../../Img/people5.jpg) 50% 40% no-repeat;
}

.feedback .tab-content-feedback .tab_item .card .pic6 {
  background: url(../../Img/people6.jpg) 50% 40% no-repeat;
}

.feedback .tab-content-feedback .tab_item .card .name {
  color: #29303b;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translateX(-50%);
}

.topCategories .topCategories_content {
  width: 80%;
  margin: auto;
}

.topCategories .topCategories_content h3 {
  color: #29303b;
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px;
}

.topCategories .topCategories_content .card-group .card {
  width: 100px;
  height: 50px;
  margin: 20px;
  box-shadow: 0px 2px 5px 0px #2e2d2d;
  cursor: pointer;
  transition: all 0.5s;
}

.topCategories .topCategories_content .card-group .card span i {
  font-size: 30px;
  margin: 10px;
}

.topCategories .topCategories_content .card-group .card span p {
  padding-top: 15px;
  padding-left: 10px;
}

.topCategories .topCategories_content .card-group .card:hover {
  box-shadow: 0px 2px 5px 4px #424242;
}

footer .footer_content .row:nth-child(1) {
  border-bottom: 1px solid #c4c0c0;
}

footer .footer_content .row:nth-child(1) .col:nth-child(1),
footer .footer_content .row:nth-child(1) .col:nth-child(2),
footer .footer_content .row:nth-child(1) .col:nth-child(3) {
  margin-top: 40px;
}

footer .footer_content .row:nth-child(1) .col:nth-child(1) p,
footer .footer_content .row:nth-child(1) .col:nth-child(2) p,
footer .footer_content .row:nth-child(1) .col:nth-child(3) p {
  line-height: 10px;
}

footer .footer_content .row:nth-child(1) .col:nth-child(1) p a,
footer .footer_content .row:nth-child(1) .col:nth-child(2) p a,
footer .footer_content .row:nth-child(1) .col:nth-child(3) p a {
  text-decoration: none;
  color: #007791;
  font-size: 13px;
  font-weight: normal;
}

footer .footer_content .row:nth-child(1) .col:nth-child(1) .bold a,
footer .footer_content .row:nth-child(1) .col:nth-child(2) .bold a,
footer .footer_content .row:nth-child(1) .col:nth-child(3) .bold a {
  color: #007791;
  font-size: 13px;
  font-weight: 600;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) button.btn.btn-secondary.dropdown-toggle {
  margin-top: 50%;
  margin-left: 90%;
  transform: translateX(90%);
  background-color: white;
  color: #726d6d;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) button.btn.btn-secondary.dropdown-toggle i {
  font-size: 15px;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) button.btn.btn-secondary.dropdown-toggle:hover {
  color: black;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) .dropdown-menu {
  width: 50px;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) .dropdown-menu p {
  line-height: 30px;
  margin: 0;
  padding-left: 15px;
  cursor: pointer;
}

footer .footer_content .row:nth-child(1) .col:nth-child(4) .dropdown-menu p:hover {
  background: #c7c3c3;
}

footer .footer_content .row:nth-child(2) {
  display: flex;
  justify-content: space-between;
  border-bottom: 8px solid #ec5252;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(1) span {
  font-size: 13px;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(1) img {
  width: 150px;
  cursor: pointer;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(2) {
  position: relative;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(2) span {
  position: absolute;
  top: 45%;
  right: 10%;
}

footer .footer_content .row:nth-child(2) .col-4:nth-child(2) span a {
  text-decoration: none;
  font-size: 13px;
}

.companies {
  background: #dbd9d9;
}

.companies .companies_content {
  text-align: center;
}

.companies .companies_content .logo {
  cursor: pointer;
}

.companies .companies_content .logo img {
  padding-top: 15px;
  margin-right: 70px;
}

.companies .companies_content .row_conpanies {
  padding-top: 60px;
  padding-bottom: 50px;
  width: 90%;
  margin: auto;
}

.companies .companies_content .row_conpanies .col h2 {
  color: #29303b;
  font-size: 20px;
  font-weight: bold;
}

.companies .companies_content .row_conpanies .col:nth-child(1) {
  border-right: 1px solid #a7a3a3;
}
/*# sourceMappingURL=main.css.map */