.newReview {
    width: 70%;
    margin: 40px auto;
}
.newReview .tab-content a {
    font-size: 16px;
    overflow: hidden;
    line-height: 20px;
    height: 42px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}
.newReview img {
    border-radius: 5px;
}
.newReview .newreview-color a {
    color: black;
}
.newReview .newreview-color a:hover {
    color: #fb4226;
    text-decoration: none;
    transition: all 0.5s;
}

// new
.newReview .newitem-top .newitem img {
    width: 100%;
    height: 260px;
}
.newReview .newitem-bot .newitem-left .newitem img {
    width: 100%;
    height: 160px;
}
.newReview .newitem-bot .newitem-right .newitem img {
    width: 50px;
    height: 50px;
}

.newitem-top .newitem {
    width: 50%;
}
.newitem-bot .newitem-left .newitem {
    width: 50%;
}
.newitem-bot .newitem-right .newitem {
    width: 100%;
}
.newitem p {
    height: 55px;
    margin-bottom: 15px;
    font-size: 13px;
}
.newitem-right .newitem a {
    height: 100%;
}
.newitem-right .newitem img {
    position: absolute;
}
.newReview .newitem {
    margin: 10px;
}

// review
.newReview .reviewitem-top .reviewitem img {
    width: 100%;
    height: 260px;
}
.newReview .reviewitem-bot .reviewitem-left .reviewitem img {
    width: 100%;
    height: 160px;
}
.newReview .reviewitem-bot .reviewitem-right .reviewitem img {
    width: 50px;
    height: 50px;
}

.reviewitem-top .reviewitem {
    width: 50%;
}
.reviewitem-bot .reviewitem-left .reviewitem {
    width: 50%;
}
.reviewitem-bot .reviewitem-right .reviewitem {
    width: 100%;
}
.reviewitem p {
    height: 55px;
    margin-bottom: 15px;
    font-size: 13px;
}
.reviewitem-right .reviewitem a {
    height: 100%;
}
.reviewitem-right .reviewitem img {
    position: absolute;
}
.newReview .reviewitem {
    margin: 10px;
}

// khuyen mai
.newReview .khuyenmaiitem-top .khuyenmaiitem img {
    width: 100%;
    height: 260px;
}
.newReview .khuyenmaiitem-bot .khuyenmaiitem-left .khuyenmaiitem img {
    width: 100%;
    height: 160px;
}
.newReview .khuyenmaiitem-bot .khuyenmaiitem-right .khuyenmaiitem img {
    width: 50px;
    height: 50px;
}

.khuyenmaiitem-top .khuyenmaiitem {
    width: 50%;
}
.khuyenmaiitem-bot .khuyenmaiitem-left .khuyenmaiitem {
    width: 50%;
}
.khuyenmaiitem-bot .khuyenmaiitem-right .khuyenmaiitem {
    width: 100%;
}
.khuyenmaiitem p {
    height: 55px;
    margin-bottom: 15px;
    font-size: 13px;
}
.khuyenmaiitem-right .khuyenmaiitem a {
    height: 100%;
}
.khuyenmaiitem-right .khuyenmaiitem img {
    position: absolute;
}
.newReview .khuyenmaiitem {
    margin: 10px;
}

// navlink tiêu đề
.newreview-content .nav-link {
    color: black;
    background-color: transparent;
    border: none;
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
}
.newreview-content .nav-tabs {
    border-bottom: none;
    justify-content: center;
}
.newreview-content .nav-tabs a:hover{
    transition:all 0.5s;
    font-size: 24px;
}
.newreview-content .nav-tabs a.active{
    color: #fb4226;
}

// icon
.newreview-icon{
    display: flex;
}
.newreview-icon i {
    margin-right: 15px;
}

.newreview-item p {
    overflow: hidden;
    margin-bottom: 15px;
    height: 57px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.reviewitem-right .reviewitem {
    margin-bottom: 20px;
}
.reviewitem-right .reviewitem a{
    padding-left: 60px;
}

.newitem-right .newitem{
    margin-bottom: 20px; 
}
.newitem-right .newitem a{
padding-left: 60px;
}

.khuyenmaiitem-right .khuyenmaiitem{
    margin-bottom: 20px;
}
.khuyenmaiitem-right .khuyenmaiitem a{
    padding-left: 60px;
}
.newreview-item button{
    position: relative;
    left: 50%;
    // top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: black 0.5px solid;
    padding: 5px 20px;
    opacity: 0.5;
    margin: 30px;
}
.newreview-item button:hover{
    color: white;
    background: #fb4226;
    border:  #fb4226 0.5px solid;
    opacity: 1;
    transition: all 0.5s;
}

.nav .nav-tabs{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.newitem-bot{
    display: flex;
}
.newitem-left{
    display: flex;
}
